$bg-color: #000;
$secondary-color: #FD8E56;
$tertiary-color: #707070;
$overlay-color: #DFDFDF;
$icons: #000;

$orelo: 'Orelo Wide';
$orelo-bold: 'Orelo Wide Heavy';
$sf: 'SF Pro Display';

$transition-type: ease-in;